<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= title %></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
</head>

<body>



  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Jewel Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% pages.forEach(function(page){%>
        <% if(page.slug == "home"){ %>

        <li class="nav-item ">
          <a class="nav-link" href="/"><%= page.title %></a>
        </li>
        <% }else{ %>
        <li class="nav-item">
          <a class="nav-link" href="<%= page.slug %>"><%= page.title %></a>
        </li>
        <% } %>
        <% }); %>
      </ul>
      <ul class="navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" href="/cart/checkout">My Cart  (
            <% if(typeof cart !=='undefined'){ %>
            <%= cart.length %>
            <% }else{ %>
            0
            <% } %>
            )</a>
        </li>
      </ul>
    </div>
  </nav>



  <div class="container">
    <%- messages('messages', locals) %>

    <div class="row">
      <div class="col-xs-12 col-md-3">
        <h3>Categories</h3>
        <ul class="list-group">
          <li class="list-group-item"><a href="/products">All Products</a></li>
          <% categories.forEach(function(c){ %>
          <li class="list-group-item"><a href="/products/<%= c.slug %> "><%= c.title %> </a></li>
          <% }); %>
        </ul>
      </div>
      <div class="col-xs-12 col-md-1"></div>
      <div class="col-xs-12 col-md-8">