<%- include('./_layouts/header') %>



<div class="row row-cols-1 row-cols-md-3">
  <% products.forEach(function(p){ %>
  <div class="col mb-4">
    <div class="card">
      <a class="card-link" href="/products/<%= p.category %>/<%= p.slug %>">
        <img src="/uploads/<%= p.image %>" class="card-img-top" alt="...">
      </a>
      <div class="card-body">
        <h4 class="card-title"><%= p.title %></h4>
        <h5 class="card-price">₹<%= p.price %> </h5>
        <a class="card-link " href="/products/<%= p.category %>/<%= p.slug %>">View Details</a>
      </div>
    </div>
  </div>
  <% }); %>
</div>



<%- include('./_layouts/footer') %>