<%- include('./_layouts/header') %>
<% if (typeof cart !== "undefined"){ %>

<h1 class="page-title">My Cart</h1>
<br><br>

<table class="table table-striped alignmiddle">

    <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Price</th>
        <th>Quantity</th>
        <th></th>
        <th>Subtotal</th>
    </tr>
    <% var total = 0; %>
    <% cart.forEach(function(product){ %>
    <% var sub = product.qty * product.price %>
    <% total += sub %>
    <tr>
        <td><img class="cpi" src="<%= product.image  %> " alt=""></td>
        <td><%= product.title %> </td>
        <td><%= product.price %> </td>
        <td><%= product.qty %> </td>
        <td>
            <a href="/cart/update/<%= product.title %>?action=add">+</a>&nbsp;
            <a href="/cart/update/<%= product.title %>?action=remove">-</a>&nbsp;
            <a href="/cart/update/<%= product.title %>?action=clear">clear</a>&nbsp;
        </td>
        <td>$<%= sub %> </td>
    </tr>
    <% }); %>
    <tr>
        <td colspan="6" align="right" id="pmt"><b>Total $</b><%= total %> </td>
    </tr>
    <tr>
        <td colspan="5" align="right">
            <a class="clearcart btn btn-danger" href="/cart/clear">Clear Cart</a>
        </td>
        <td colspan="5" align="right">
            <div id="paypal-button-container"></div>
        </td>
    </tr>

</table>


<% } else{%>
<h3 class="text-center">Your cart is empty.</h3>
<% } %>

<script
    src="https://www.paypal.com/sdk/js?client-id=AUjG7zpZb4dToGKFFJGFowHNgO8M5sHhTMfsfHUieyU5YEtjWba0u4ObWOJJTOFlVGgI0a8hkUug-Dkm&currency=USD"></script>

<script>
    $(function () {
        var x = document.getElementById("pmt").innerText.substr(7);

    paypal.Buttons({
        // Set up the transaction
        createOrder: function (data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: x
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function (data, actions) {
            return actions.order.capture().then(function (details) {
                // Show a success message to the buyer
                //alert('Transaction completed by ' + details.payer.name.given_name + '!')
                window.location.href = "http://localhost:3200/cart/buynow";
                
            });
        },

        onCancel: function (data) {
            // Show a cancel page, or return to cart
            window.location.href = "http://localhost:3200/cart/checkout";
          },

          onError: function (err) {
            // Show an error page here, when an error occurs
            window.location.href = "http://localhost:3200/cart/checkout";
          }


    }).render('#paypal-button-container');
    });

</script>
<%- include('./_layouts/footer') %>