<%- include('./_layouts/header') %>



<div class="card mb-3">
    <img class="card-img-top spi" src="/uploads/<%= p.image %> " alt="Card image cap">
    <div class="card-body">
        <h4 class="card-title"><%= p.title %></h4>
        <h5 class="card-text">₹<%= p.price %></h5>
        <h5 class="card-text"><%= p.desc %></h5>
        <h5><% if(loggedIn){ %>
            <p class="card-text"><a class="card-link " href="/cart/add/<%= p.slug %> ">Add to Cart</a></p>
            <% }else{ %>
                <p class="card-text">You must be logged in to purchase items.</p>
                <% } %>  </h5>
    </div>
</div>






<%- include('./_layouts/footer') %>